* {
    margin: 0;
    padding: 0;
}

.game-board {
    width: 99;
    height: 500px;
    border-bottom: 15px solid rgba(8, 161, 8, 0.822);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-image: linear-gradient(rgba(12, 73, 204, 0.664),rgb(160, 209, 205));
}

.pipe {
    position: absolute;
    width: 80px;
    bottom: 0;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    width: 180px;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds-animation 20s infinite linear;
    padding: 20px;
}
 
.coin {
    position: absolute;
    width: 50px;
    bottom: 35%;
    animation: coin-animation 3s infinite linear;
}

#score {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 30px;
    text-align: end;
}

@keyframes pipe-animation{
    from {
        right: -80px;
    }
    
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    
    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -500px;
    }
    
    to {
        right: 100%;
    }
}

@keyframes coin-animation {
    from {
        right:-50px;
    }

    to {
        right: 92%;
    }
}